# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# Env
.env
.env.local
.env.*.local

# Build outputs
client/dist/
server/dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.vscode/*
*.code-workspace

# Logs
logs/
*.log

# Misc
.vite
.idea/
